.aboutme {
    width: 80vw;
    margin-left: 10vw;
    background: url("images/background.png") no-repeat;
    background-position-y: 20px;
    padding-bottom:200px;
}

.logo {
    background: none;
    height: 40px;
    width: 150px;
    margin: 50px 0px 0px 370px;
}

ul {
    height: 40px;
    width: 750px;
    margin: -35px 370px 0px 700px;
    padding: 1px;
}

li {
    display: inline;
    padding: 25px;
    font-family: 'Roboto Slab', sans-serif;
}
.navi li:hover {
    background: #00b893;
    color: white;
    transition: .3s;
}

h3 {
    color: #353535;
    margin: 250px 0px 0px 370px;
    font-family: 'Roboto Slab', sans-serif;
}

.name {
    color: #00b893;
}

h1 {
    margin: 10px 0px 0px 370px;
    color: #353535;
    font-family: 'Roboto Slab', sans-serif;
}

.text {
    background: none;
    width: 630px;
    margin: 20px 0px 0px 370px;
    color: #323232;
    font-family: 'Roboto Slab', sans-serif;
}

.greenbutton {
    font-family: 'Roboto Slab', sans-serif;
    background: #00b893;
    color: white;
    text-align: center;
    height: 50px;
    width: 200px;
    margin: 30px 0px 0px 370px;
    padding: 10px;
    border: none;
    outline: none;
}
.blackbutton {
    font-family: 'Roboto Slab', sans-serif;
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    width: 200px;
    margin: -40px 0px 0px 50px;
    padding: 10px;
    border: none;
    outline: none;
}
.aboutbutton {
    background:black;
}
.aboutbutton:hover {
        background:#00b893;
        transition: .3s;
}
.block2 {
    margin: 200px 0px 0px 550px;
    color: #353535;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
}

hr {
    border: none;
    background-color: #00b893;
    height: 2px;
    width: 75px;
    margin: 10px 0px 0px 550px;
}

.first {
    background: none;
    margin: 40px 0px 0px 550px;
    width: 500px;
    color: #353535;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 25px;
}

.aboutmefirst {
    border: none;
    background-color: #00b893;
    height: 5px;
    width: 315px;
    margin: -6px 0px 0px 550px;
    opacity: 0.3;
}

.second {
    background: none;
    margin: 10px 0px 0px 550px;
    width: 710px;
    color: #353535;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 25px;
}

.aboutmesecond {
    border: none;
    background-color: #00b893;
    height: 5px;
    width: 450px;
    margin: -6px 0px 0px 550px;
    opacity: 0.3;
}

.textaboutme {
    background: none;
    width: 490px;
    margin: 40px 0px 0px 550px;
    color: #aaaaaa;
    font-size: 11px;
}

.purple {
    margin: -310px 0px 0px 1200px;
    height: 200px;
    width: 200px;
    border-radius: 250px;
    background: #bf2fd9;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}

.yellow {
    margin: -245px 0px 0px 1400px;
    height: 200px;
    width: 200px;
    border-radius: 250px;
    background: #f7c93c;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}

.red {
    margin: -90px 0px 0px 1300px;
    height: 200px;
    width: 200px;
    border-radius: 250px;
    background: #fe7476;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}

.number {
    font-size: 40px;
}

.purple p {
    padding-top:60px;
    margin-bottom: 8px;
}
.yellow p {
    padding-top: 60px;
    margin-bottom: 8px;
}
.red p {
    padding-top: 60px;
    margin-bottom: 8px;
}
.block3bg {
    width: 80vw;
    margin: 10vw;
    height: 900px;
    background: #f5f6fb
}
.block3 {
    padding-top: 100px;
    text-align: center;
    color: #353535;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 40px;
}
.MyProvideServices {
    background-color: #00b893;
    height: 5px;
    width: 385px;
    margin: -45px 0px 0px 575px;
    opacity: 0.3;
}
.third-1 {
    margin: 60px 0px 0px 340px;
    width: 290px;
    height: 290px;
    background:white;
}
.third-2 {
    margin: 20px 0px 0px 340px;
    width: 290px;
    height: 290px;
    background:white;
}
.third-3 {
    margin: -600px 0px 0px 650px;
    width: 290px;
    height: 290px;
    background:white;
}
.third-4 {
    margin: 20px 0px 0px 650px;
    width: 290px;
    height: 290px;
    background:white;
}
.third-5 {
    margin: -600px 0px 0px 960px;
    width: 290px;
    height: 290px;
    background:white;
}
.third-6 {
    margin: 20px 0px 0px 960px;
    width: 290px;
    height: 290px;
    background:white;
}
.pic {
    margin: 30px;
}
.nu {
    margin: 5px 0px 0px 30px;
    color: #555555;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.text3 {
    margin: 15px 0px 0px 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    color: #aaaaaa;
}
.block4bg {
    width: 80vw;
    margin: 10vw;
    height: 600px;
    background: #0db996;
}
.block4 {
    padding-top: 100px;
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 40px;
}
.Softwareskill {
    background-color:white;
    height: 5px;
    width: 257px;
    margin: -45px 0px 0px 640px;
    opacity: 0.2;
}

.pg1 {
    margin: 100px 0px 0px 340px;
}
.pg2 {
    margin: 50px 0px 0px 340px;
}
.pg3 {
    margin: 50px 0px 0px 340px;
}
.pg4 {
    margin: -272px 0px 0px 840px;
}
.pg5 {
    margin: 50px 0px 0px 840px;
}
.pg6 {
    margin: 50px 0px 0px 840px;
}
progress {
    width: 350px;
    height: 10px;
    border-radius: 400px;
    opacity: 1;
}
.np{
    color: white;
    font-family: 'Roboto Slab', sans-serif;
}